@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
}
footer{
  margin-top: auto;
}

/* width */

#product-carousel::-webkit-scrollbar {
  width: 1rem;
  height: 0.25rem;
}

/* Track */

#product-carousel::-webkit-scrollbar-track {
  background: #e8ecef;
}

/* Handle */

#product-carousel::-webkit-scrollbar-thumb {
  background: #343839;
}