@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
}
footer{
  margin-top: auto;
}